aside, article, section, header, footer, nav {
	display: block;
}

aside, article, section, header, footer, nav, html, body, p, h1, h2, h3,
	div {
	margin: 0;
	padding: 0;
}

html {
	background: #EDEDED;
}

body {
	margin: 0 auto;
	background: #fff;
	font: 90%/1.6 "Trebuchet MS", Helvetica, sans-serif;
	width: 85%;
	max-width: 1280px;
	min-width: 960px;
}

#wrapper{
		min-height: 550px;
}

/*content styling*/
header {
	background: #007399;
	padding-top: 50px;
	padding-bottom: 30px;
	color: #fff;
	margin-bottom: 2em;
	font-family: georgia, serif;
}

h1 {
	margin-right: 50px;
	text-align: right;
	font-size: 3em;
	font-weight: normal;
	font-variant: small-caps;
	letter-spacing: .1em;
}


#welcomeMessage {
	text-align: right;
	margin-right: 50px;
}

#welcomeRole {
	text-align: right;
	margin-right: 50px;
}

#colon {
	float: right;
}

footer {
	margin: 0 auto -155px;
	background: #007399;
	font: 0.8em sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
	text-align: center;
	color: #fff;
	clear: both;
	padding: 25px 0 15px;
}

footer {
	
}

.inputText {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px black;
	padding: 5px;
}

.error {
	color: #007399;
}

.errorblock {
	width: 75%;
	color: #007399;
	background-color: white;
	border: 3px solid #007399;
	padding: 8px;
	margin: 16px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input[type=submit] {
	padding: 5px 15px;
	background: #007399;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
}

.button {
    background: #007399 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
}

a {
	font-family: arial;
	color: #007399;
	text-decoration: none;
	cursor: hand;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #007399 none; /* a color that fits the widget theme */
	color: white; /* a color that is readeable with the color above */
}
/* Css for new sign up page starts here */
.gridView {
	border-collapse: collapse;
	width: 100%;
	margin: auto;
}

.gridView, .gridView td, .gridView th {
	border: 1px solid #007399;
}

.gridView th {
	background-color: #007399;
	color: white;
}

.gridView td {
	background-color: white;
	color: #000000;
}

legend {
	font-weight: bold;
}

.navigation {
	width: 100%;
	background: #ffffff;
	
}

/*=== menu css begins ===*/
.nav {
	font-size: 18px;
	font-family: tahoma;	
	list-style: none;
	background: #ffffff;
	padding-left: 25px;
	border-radius: 10px;
	width: 100%;
}

.nav li {
	float: left;
	width: 180px;
	position: relative;
	background: #007399;
	border-top: 1px solid #007399;	
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	text-align:center;
}

li:hover {
	border: solid 1px #ffffff;
	-moz-box-shadow: 1px 1px 5px #ffffff;
	-webkit-box-shadow: 1px 1px 5px #ffffff;
	box-shadow: 1px 1px 5px #ffffff;
	z-index: 1000;
}

.nav li a {	
	color: #ffffff;	
	padding: 7px 8px;
	text-decoration: none;
	
}

.nav li a:hover {
	color: #ffffff;
}

/*=== submenu ===*/


.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.nav ul li a:hover {
	#ffffff
}

.nav ul li{
	text-align:left
}
/*===menu css ends===*/

article {
	float: left;
	width: 61%;
	padding-left: 2.5%;
}

aside {
	float: right;
	width: 29%;
	padding: 0 2.5%;
	border-left: 1px solid #aaa;
}

section {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	/* border-bottom: 1px solid black; */
}

section:last-of-type {
	/* border-bottom: solid; */
	
}

#errmsg {
	color: red;
}